    <small class="text-muted">
      <br>
      <p class="text-center">Registry version: <code>{{version}}</code></p>
      <p class="text-center">Site version: <code>{{site_version}}</code></p>
      <p class="text-center">Generated on {{date}}</p>
    </small>
</body>