      <div class="container-fluid d-print-none">
{{#pages}}
  {{#ifeq pageOrder ../pageOrder}}
        <ul class="pagination justify-content-between">
          <li class="page-item">{{#unless @first}}<a class="page-link" href="../{{#ifnoteq pageOrder 2}}{{lastPage pageOrder}}/{{/ifnoteq}}index.html">&laquo; Previous</a>{{/unless}}</li>
          <li class="page-item">{{#unless @last}}<a class="page-link" href="{{#ifnoteq ../pageTemplate "index"}}../{{/ifnoteq}}{{nextPage pageOrder}}/index.html">Next &raquo;</a>{{/unless}}</li>
        </ul>
  {{/ifeq}}
{{/pages}}
      </div>